* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

label {
    width: fit-content;
    height: fit-content;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 50px;
 
}

.modal > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    min-height: 400px;
    height: fit-content;
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
}

.add-schedule-of-day {
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    align-items: end;
    background-color: azure;

}

.salved {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: auto;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
}
.salved > label {
    margin: auto 30px;
    width: fit-content;

}

.salved > label > div {
    display: flex;
    width: 100px;
    height: 60%;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background-color: beige;
}

.salved > label > div > p {
    font-size: 18px;
}

.schedule-of-day-container {
    display: grid;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    grid-template-columns: repeat(10,1fr);
    margin-bottom: 5px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px 2px black;

}

.div-input {
    display: flex;
    width: 100%;
    height: 100%;
    background-color:rgb(185, 185, 185);
    padding-left: 10px;
    align-items: center;
    grid-column: 1/9; 
    border-radius: 25px 0px 0px 25px;

}
.div-input > input{
    width: 98%;
    height: 45px;
    font-size: 24px;
    padding-left: 3px;
    border: 0px;
    border-radius: 10px;

}

.div-button{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 9/11;
    background-color: rgb(185, 185, 185);
    border-radius: 0px 25px 25px 0px;


}
.div-button > div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: whitesmoke url(../Medias/PNG/button.png) no-repeat center/cover;
    transition: all 500ms;
     
}
.div-button > div:hover { 
    transform: scale(1.2);
}


.schedule-of-day-list {
 
    width: 95%;
    height: fit-content;
    max-height: 245px;
    overflow-y:scroll;
    
}

.add-item {
    display: flex;
    width: 95%;
    height: 60px;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    margin: 5px auto;
    background-color: grey;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 2px black;

}

.add-item > input {
    width: 85%;
    height: 50%;
    font-size: 18px;
    padding-left: 5px;
    border: 0px;
    border-radius: 10px;
}
.add-item > div {
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.add {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    bottom: 20px;
    right: 20px;
    transition: all 500ms;
    background-image: url(../Medias/PNG/button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}
.add:hover {
    transform: scale(1.2);

}
#checkbox-open-modal{
    display: none;
}
#checkbox-open-modal:checked + .modal{
    display: flex;
}
#checkbox-open-modal:not(:checked) + .modal{
    display: none;
}
.menu {
    position:absolute;
    display: flex;
    align-items: start;
    flex-direction: column;
    transition-property: all;
    transition-duration: 500ms;
    padding-top: 20px;
    overflow-x: hidden;
    width: 0px;
    height: 100%;
    background-color: whitesmoke;
    top: 40px;

}
.item-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 5px 0px;
    transition-property: all;
    transition-duration: 500ms;
    text-decoration: none;
    padding: 0px 5px;
    color: black;
    width: 80%;
    height: 40px;
    overflow-x: hidden;
    background-color: red;
}
.item-menu:hover {
    width: 90%;
}
.item-menu > img {
    margin: 0px  0px 0px;
}
.item-menu > p {
    width: 100%;
    white-space: nowrap;
    font-size: 24px;
}

header  {
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-columns: repeat(9,1fr);
    box-shadow: 0px 2px 3px black;
    background-color: #fff44f;

}

.menu-bar {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    grid-column: 1/4;
    align-items: center;
}
.menu-bar > label {
    width: fit-content;
    height: fit-content;
}

.menu-bar-button{
    width: 32px;
    height: 32px;
    background-image: url(../Medias/PNG/menu-bar.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#checkbox-open-menu {
    display: none;
}
#checkbox-open-menu:checked ~ .menu {
    width: 180px;
}

.banner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 4/7;

}

.time {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    grid-column: 7/10;

}

.time > p {
    font-size: 24px;

}

main { 
    width: 100%;
    height: 700px;
    padding: 10px;
    background-image: url(../Medias/JPEG/k-on.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.list-schedule  {
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    flex-direction: column;

}

.schedule{
    display: flex;
    width: 95%;
    height: fit-content;
    flex-direction: column;
    margin: 10px 0px;
    align-items: end;
}

.checkbox-open-list{
    display: none ;
}
.checkbox-open-list:checked ~ .list-item{
    height: fit-content;
}

.container {
    display: flex;
    width: 100%;
    height: 75px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 2px black;
    border-radius: 5px 5px 0px 5px;

}
.schedule > label {
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    width: 85%;
    height: 100%;
    padding-left: 10px;
    overflow-x: hidden;
    align-items: center;

}
.title > p {
    font-size: 36px;
}

.progress {
    display: flex;
    width: 15%;
    height: 100%;
    padding-right: 10px;
    align-items: center;
    justify-content: end
}
.progress > p {
    font-size: 38px;
}
.progress:hover{
    display: none;
}
.progress:hover  + .tash{
    display: flex;

}

.tash {
    display: none;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.list-item{
    display: flex;
    width: 90%;
    height: 0px;
    flex-direction: column;
    box-shadow: 0px 5px 5px 2px black;
    overflow: hidden;


}

.item {
    display: flex;
    width: 100%;
    height: 40px;
    overflow-x: hidden;
    padding-left: 5px;
    align-items: center;
    background-color: whitesmoke;
    
}

.item > input {
    width: 25px;
    height: 25px;
}

.item  > p {
    width: 100%;
    margin-left: 10px;
    font-size: 24px;
}

