* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.modal {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: fit-content;
    padding-top: 50px;
    
}

.modal > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    padding-top: 10px;
    background-color: orange;
}

.add-schedule-of-day {
    display: flex;
    width: 90%;
    height: fit-content;
    flex-direction: column;
    align-items: end;
    background-color: azure;

}
.schedule-of-day-container {
    display: grid;
    width: 100%;
    height: 80px;
    grid-template-columns: repeat(10,1fr);

}

.div-input {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    grid-column: 1/9; 
    background-color: red; 
    
}
.div-input > input{
    width: 100%;

}

.div-button{
    display: flex;
    width: 100%;
    height: 100%;
    grid-column: 9/11;
}

.schedule-of-day-list {
    width: 95%;
    height: fit-content;
    
}

.schedule-of-day-list > div {
    width: 100%;
    height: 50px;
    background-color: chartreuse;
}

.add {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    bottom: 20px;
    right: 20px;
    background-image: url(../Medias/PNG/button.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aliceblue;
}


header  {
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-columns: repeat(9,1fr);
    box-shadow: 0px 2px 3px black;
    background-color: #fff44f;
}

.menu-bar {
    display: flex;
    width: 100%;
    height: 100%;
    grid-column: 1/4;

}

.banner {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 4/7;

}

.time {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: center;
    padding-right: 10px;
    grid-column: 7/10;

}

.time > p {
    font-size: 24px;

}

main { 
    width: 100%;
    height: 1000px;
    padding: 10px;
}

.schedule {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;

}

.schedule-day {
    display: flex;
    width: 100%;
    height: fit-content;
    margin: 10px 0px;
    flex-direction: column;
    align-items: end;

}

.container {
    display: grid;
    width: 100%;
    height: 75px;
    grid-template-columns: repeat(10,1fr);
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: 3px -2px 10px 2px black;
}
.title {
    display: flex;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    align-items: center;
    grid-column: 1/9;

}
.title , .progress > p{
    font-size: 36px;
}

.progress {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    grid-column: 9/11;

}

.list {
    display: flex;
    width: 95%;
    height: fit-content;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid black;
    padding: 0px 5px;
}

.item { 
    display: flex;
    width: 98%;
    height: 30px;
    padding-left: 5px;
    margin: 5px 0px;
    align-items: center;
    border-bottom: 1px solid black

}

.item > input{
    width: 25px;
    height: 25px;

}

.item > p {
    margin: auto 5px;
}